<div class="row large-offset-4 white-text">
  <%- if @parking_search.errors.present? -%>
    <div class="center alert-box alert" data-alert>
      <ul>
        <%- @parking_search.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

<div class="row fullWidth">
  <div id="home-main-image">
    <div class="inner row">
      <!-- text -->
      <div class="home-text-search">
        <h1>Search for Parking</h1>
        <h2>Find the best parking in <%=@parking_search.city%> now!</h2>
        <!-- search -->
        <div class="home-search">
          <div class="inner">
	    <%= form_tag parking_searches_path, :method => "create", id: "search-form" do %>
              <%= text_field_tag :address, params[:address], size: 30,
              placeholder: 'Near what street address?', required: true %>
              <%= submit_tag 'Search', class: "button postfix", name: nil, id: 'hidden-submit', style: 'display: none;' %>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


