<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      console.log("hit the geo java");

      function setLatLon(data) {
      /* push lat lon into hidden field in form */
      $("#latitudelongitude").val(data);
      }

      function setGeoCookie(position) {
      var lat_lng_val;
      $lat_lng_val = position.coords.latitude + "|" + position.coords.longitude;
        setLatLon($lat_lng_val) ;
      };


 function error() {
    output.innerHTML = "Unable to retrieve your location";
 };
      
  function doGeoLocationOnDemand() {
      console.log("hit the geolocate");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setGeoCookie, error);
    } else {
      error('Geo Location is not supported');
    }
      
  }

   </script>

</head>

<body>
<div class="row large-offset-4 white-text">
  <%- if @parking_search.errors.present? -%>
    <div class="center alert-box alert" data-alert>
      <ul>
        <%- @parking_search.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

<div class="row fullWidth">
  <div id="home-main-image">
    <div class="inner row">
      <!-- text -->
      <div class="home-text-search">
        <h1>Search for Parking</h1>
        <h2>Find the best parking</h2>
	<h2> in <%=@parking_search.city%> now!</h2>
        <!-- search -->
        <div class="home-search">
          <div class="inner">
	    <%= form_tag parking_searches_path, :method => "create", id: "search-form" do %>
              <%= text_field_tag :address, params[:address], size: 30,
		  placeholder: "Enter #{@parking_search.city} street address" %>
	      <%= hidden_field_tag :city, @city %>
	      <%= hidden_field_tag :state, @state %>
	      <%= hidden_field_tag :latitude, @latitude %>
	      <%= hidden_field_tag :longitude, @longitude %>
	      <%= hidden_field_tag :latitudelongitude, params[:latitudelongitude] %>	      
	      <%= submit_tag 'Search', class: "button postfix", name: nil, id: 'hidden-submit', style: 'display: none;' %>
	      <%= submit_tag 'Use Current Position', class: "button" %>
              <% end %>
	      
	      <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <script>
    (function() {
    /* DOM is available here */
    doGeoLocationOnDemand();
    })();
</script>
</body>
</html>

