<div class="row center">
  <h1>Parking Search</h1>

  <table>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>

    <tr>
      <td><%= @parking_search.address %></td>
      <td><%= @parking_search.city %></td>
      <td><%= @parking_search.state %></td>
    </tr>
  </table>

  </br>
  </br>

  <h2 style="margin-top:50px">Parking Venues</h2>

  <% if @parking_venues %>
    <table>
      <tr>
        <th>Location</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip code</th>
        <th>Price</th>
        <th>Distance</th>
      </tr>

      <% @parking_venues.each_with_index do |venue, i| %>
      <tr>
        <td><%= venue.location_name %></td>
        <td><%= venue.address %></td>
        <td><%= venue.city %></td>
	<td><%= venue.state %></td>	
        <td><%= venue.zip %></td>	
        <td><%= @search_venue_sets[i].price_formated %></td>
        <td><%= (@search_venue_sets[i].distance / 5280.0).round(2) %></td>	
      </tr>
      <% end %>
    </table>
  <% end %>

  <br>

  <% place_query = Rack::Utils.escape(@parking_search.address + @parking_search.city + @parking_search.state) %>
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%="#{place_query}"%>&key=AIzaSyCl6Xxwj0vHOSlE_cAq3Cq6BrRTQpOZs_E" allowfullscreen></iframe>
  <br>
  <%= link_to "Back", new_parking_search_path, class: :button %>
  <br>
</div>
