<div class="row center">
  <h1>Parking Search</h1>

  <table>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th></th>
    </tr>

    <tr>
      <td><%= @parking_search.address %></td>
      <td><%= @parking_search.city %></td>
      <td><%= @parking_search.state %></td>
      <td><%= @parking_search.zip %></td>                  
    </tr>
  </table>

  </br>
  </br>

  <h2 style="margin-top:50px">Parking Venues</h2>

  <% if @parking_venues %>
    <table>
      <tr>
        <th>Location</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip code</th>
        <th>Description</th>
      </tr>

      <% @parking_venues.each do |venue| %>
        <tr>
          <td><%= venue.location_name %></td>
          <td><%= venue.address %></td>
          <td><%= venue.city %></td>
          <td><%= venue.state %></td>
          <td><%= venue.zip %></td>
          <td><%= venue.description %></td>	  	  	  
        </tr>
      <% end %>
    </table>
  <% end %>

  <br>

  <%= link_to "Back", new_parking_search_path, class: :button %>
  <br>
</div>
