<div class="row center">
  <h1>Dive Site</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Rating</th>
      <th>Average Rating</th>
      <th>Difficulty</th>
      <th></th>
    </tr>

    <tr>
      <td><%= @dive_site.name %></td>
      <td><%= @dive_site.location %></td>
      <td><%= @dive_site.description %></td>
      <td><%= @dive_site.lat %></td>
      <td><%= @dive_site.lon %></td>
      <td><%= @dive_site.rating %></td>
      <td><%= @dive_site.average_rating %></td>
      <td><%= @dive_site.difficulty %></td>
    </tr>
  </table>

  </br>

  <% if !@photo_sample.nil? %>
  <div class="container"> 
    <%= image_tag "#{@photo_sample}" %>
  </div>
  <% end %>
  

  </br>

  <h2 style="margin-top:50px">Reviews</h2>


  <% if @reviews %>
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>

      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td><%= review.body %></td>
          <td><%= review.score %></td>
          <td><%= link_to review.user.username, user_path(review.user) %></td>
          <% if !current_user.nil?  && (review.user == current_user || current_user.admin?) %>
            <td><%= link_to 'Delete Review', dive_site_review_path(@dive_site, review), controller: 'reviews', method:'delete' %><td>
          <% end %>
          <% if !current_user.nil?  && (review.user == current_user || current_user.admin?) %>
            <td><%= link_to 'Update Review', edit_dive_site_review_path(@dive_site, review), controller: 'reviews', method:'get' %><td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br>

  <% if current_user %>
    <%= link_to 'Add a Review', new_dive_site_review_path(@dive_site), class: 'button' %>
  <% end %>

  <%= link_to "Back", dive_sites_path, class: :button %>
  <br>
</div>
