
<!DOCTYPE html>
  <% place_query = Rack::Utils.escape(@parking_search.address + @parking_search.city + @parking_search.state) %>
  <% google_key = ENV['GOOGLE_MAP_KEY'] %>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0;}
      #map-canvas {
        width: 500px;
        height: 500px;
      }
      @media only screen and (max-width: 40em) { 
        #map-canvas {
          width: 100%;
          height: 300px;
        }
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%="#{google_key}"%>">
    </script>

    <%= render "map_functions" %>

  </head>

  <body>

  
 <div id="parking-search-main-image">
   <div class="row center">

     <h1><%= @parking_search.address.titleize %></h1>
  <h2 style="margin-top:10px" id="poptions">Parking Options</h2>
  <br>
  <%= link_to "New Search", new_parking_search_path(:city => "#{@parking_search.city}" ), class: :button, id: :new_search_button %>
  <br>

  <div class="row">
    <div class="large-6 columns">
      <div class="hide-for-small">
      <!-- left image -->
  <% if @parking_venues %>
    <table>
      <tr>
        <th>Location</th>
        <th>Address</th>
        <th>Price</th>
        <th>Distance (miles)</th>
      </tr>

      <% @parking_venues.each_with_index do |venue, i| %>
      <tr>
        <td id="venue<%=i%>"><%= venue.location_name %></td>
        <td><%= venue.address %></td>
        <td><%= @search_venue_sets[i].price_formated %></td>
        <td><%= (@search_venue_sets[i].distance / 5280.0).round(2) %></td>	
      </tr>
      <% end %>
    </table>
    <% end %>
      </div>
    </div>
    <div class="large-6 columns">
      <!-- map contents -->
      <div class="small-12 column">
	<div id="map-canvas"></div>
     </div>
  <br>
   </div>
 </div>
 </div>

</body>
</html>




