<nav class="tab-bar sticky show-for-small-only">
  <section class="middle tab-bar-section">
    <h1 class="title"><%= link_to "Parking Finder", root_path %></h1>
  </section>
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>

<aside class="right-off-canvas-menu show-for-small-only">
  <ul class="off-canvas-list">
          <li><%= link_to 'Boston', new_parking_search_path, method: :get, city: 'Boston' %> </li>
          <li><%= link_to 'New York', new_parking_search_path, method: :get, city: 'New York' %></li>
	  <li><%= link_to 'Chicago', new_parking_search_path, method: :get, city: 'Chicago' %></li>
	  <li><%= link_to 'San Francisco', new_parking_search_path, method: :get, city: 'San Francisco' %></li>

	  <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
  </ul>
</aside>
